/* Center the loader on the page */
/* Fit the loader to the content area, not the whole screen */
.loading-container {
   
    background: transparent; /* Slight overlay */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  /* Keep the existing animation styles as-is */
  .pl {
    display: block;
    width: 6.25em;
    height: 6.25em;
  }

  .pl-small {
    /* display: block; */
    width: 43px;
    height: 43px;
  }
  .pl__ring, .pl__ball {
    animation: ring 2s ease-out infinite;
  }
  .pl__ball {
    animation-name: ball;
  }
  

  .loader {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    animation: spin 1.5s linear infinite; /* Infinite spinning animation */
}

.loader-dot {
    fill: #3545f8; /* Change color as needed */
    animation: dot-blink 1.5s ease-in-out infinite; /* Blinking effect for dots */
}

.loader-dot-small {
  fill: #35f886; /* Change color as needed */
  animation: dot-blink 1.5s ease-in-out infinite; /* Blinking effect for dots */
}


/* Keyframes for spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Keyframes for the dot blinking effect */
@keyframes dot-blink {
    0%, 100% {
        opacity: 1; /* Fully visible */
    }
    50% {
        opacity: 0.5; /* Half visible */
    }
}




.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}
.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}
.pl__ring, .pl__ball {
  animation: ring 2s ease-out infinite;
}
.pl__ball {
  animation-name: ball;
}

@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50%, to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}

@keyframes ball {
  from, 50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }
  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }
  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }
  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }
  57%, 71%, 85%, 99%, to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}
@media (max-width: 768px) {
  .sidebar {
    width: 80px !important;
  }
}