/* General container styling */
.ticket-container {
  background-color: #fff;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

/* Header styling */
.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-header h2 {
  margin: 0;
  font-size: 22px;
}

.ticket-header p {
  margin: 5px 0;
  font-size: 14px;
  color: gray;
}

/* Done button styling */
.done-button {
  background: none;
  border: none;
  color: #ff69b4;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.done-button:hover{
  background: rgb(40, 40, 186);
  color: #fff;
}

/* Event image styling */
.event-image {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
}

/* Event details styling */
.event-details {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.event-details .event-info{
  display: flex;
  justify-content: start;
}

.event-info {
  max-width: 65%;
  display: flex;
  flex-direction: column;
}

.event-info h3 {
  margin: 0;
  font-size: 24px;
}

.event-info p {
  margin: 5px 0;
  font-size: 14px;
  color: gray;
}

/* QR Code styling */
.qr-code img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

/* Location information styling */
.location-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.location-info h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.location-info p {
  font-size: 14px;
  margin: 5px 0;
  color: gray;
}

.ticket-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.datehandle-date h1{
  font-size: 28px;
  font-weight: bold;
  color: #fb248f !important;
}

